@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  overflow-y: hidden;
  /* position: fixed; */
/* font-family: 'Ubuntu', sans-serif; */
}
:root{
--Light-Grayish-Cyan: hsl(180, 52%, 96%);
--Light-Grayish-Cyan: hsl(180, 31%, 95%);
--Dark-Grayish-Cyan: hsl(180, 8%, 52%);
--Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}
nav{
  width: 100;
  height: 20vh;
  position: sticky;
  top: 0;
  background-color: white;
}
nav img{
  width: inherit;
  height: 100%;
}

.main{
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  padding-top:5rem;
  border: 2px solid skyblue;
  background-color: var(--Light-Grayish-Cyan);
  gap: 2rem;
}
.main::-webkit-scrollbar{
  display: none;
}
.allbutton-right{
  /* border: 1px solid black; */
  width:80%;
  /* margin: auto; */
}
.all{
  padding:  5px 10px 5px 10px;
position: relative;
float: right;
color: var(--Light-Grayish-Cyan);
background-color: var(--Dark-Grayish-Cyan); 
border: none;
border-radius: 5px;
}
.overflow-scroll{
  width: 80%;
  /* margin: auto 0; */
  overflow-y: scroll;
  border: 3px solid black;
}

.item{
  width:auto;
  border: 1px solid rgb(6, 6, 6);
  /* margin: auto 0; */
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:  center;
  padding: 1rem 3rem;
}
.left {
  width:40%;
  display: grid;
  grid-template-columns: 0.5fr 3.5fr;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid black;
}
h4{
  display: inline;
}
.name-span{
  display:flex ;
  flex-direction: row;
  gap: 10px;
}

.company-name{
  text-transform: capitalize;
  color: var(--Dark-Grayish-Cyan);
}
.available-role{
  font-weight: 700;
  text-transform: capitalize;
}
.datework-method{
color: var(--Very-Dark-Grayish-Cyan);
}
.new , .featured{
  color: white;
  font-weight: 400;
  
  padding: 2px 5px 2px 5px;
  text-transform: capitalize;
  border-radius: 10px;
}
.new:empty , .featured:empty{
  display: none;
}
.new{background-color: var(--Dark-Grayish-Cyan);}
.featured{background-color: black;}

li{
  list-style-type: none;
}
ul{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.right .services li , .button{
  text-transform: capitalize;
  color: var(--Light-Grayish-Cyan);
  font-weight: 700;
  /* background-color: var(--Dark-Grayish-Cyan); */
  padding: 2px 5px 2px 5px;
  /* cursor:not-allowed; */
  display: inline;
  border: none;
}
.red{
  background-color: red;

}
.blue{
  background-color: blue;
}
.normal{
  background-color: var(--Dark-Grayish-Cyan); 

}
